{% extends 'Home/base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ title }} un créneau</h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}